// Here you can add other styles
.app-footer {
  color: #f0f3f5 !important;
  background: #23282c;
  border-top: 1px solid #23282c !important;
}

.input-group-text {
  min-width: 140px;
}

.badge-IDLE {
  color: #23282c;
  background-color: #fff;
  border: 1px solid #c8ced3;
  width: 6.5em;
}

.badge-IDLE[href]:hover, .badge-IDLE[href]:focus {
  color: #23282c;
  text-decoration: none;
  background-color: #d1dbe1;
}

.badge-WORKING {
  color: #ffc107;
  background-color: #fff;
  border: 2px solid #ffc107;
  width: 6.5em;
}

.badge-WORKING[href]:hover, .badge-WORKING[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ffc107;
}

.badge-WORKED {
  color: #fff;
  background-color: #ffc107;
  width: 6.5em;
}

.badge-WORKED[href]:hover, .badge-WORKED[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ffc107;
}

.badge-REMOVING {
  color: #73818f;
  background-color: #f0f3f5;
  border: 2px solid #73818f;
  width: 6.5em;
}

.badge-REMOVING[href]:hover, .badge-REMOVING[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #73818f;
}

.badge-REMOVED {
  color: #fff;
  background-color: #73818f;
  width: 6.5em;
}

.badge-REMOVED[href]:hover, .badge-REMOVED[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #73818f;
}

.badge-REJECTING {
  color: #f86c6b;
  background-color: #fff;
  border: 2px solid #f86c6b;
  width: 6.5em;
}

.badge-REJECTING[href]:hover, .badge-REJECTING[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f86c6b;
}

.badge-REJECTED {
  color: #fff;
  background-color: #f86c6b;
  width: 6.5em;
}

.badge-REJECTED[href]:hover, .badge-REJECTED[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #f86c6b;
}

.badge-CLOSING {
  color: #3a9d5d;
  background-color: #fff;
  border: 2px solid #3a9d5d;
  width: 6.5em;
}

.badge-CLOSING[href]:hover, .badge-CLOSING[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #3a9d5d;
}

.badge-CLOSED {
  color: #fff;
  background-color: #4dbd74;
  width: 6.5em;
}

.badge-CLOSED[href]:hover, .badge-CLOSED[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #3a9d5d;
}

.badge-PICK {
  color: #2f353a;
  background-color: #f0f3f5;
  border: 2px solid #2f353a;
  width: 3.5em;
}

.badge-AUDIT {
  color: #fff;
  background-color: #2f353a;
  border: 1px solid #fff;
  width: 3.5em;
}
 
.btn-info {
  color: #fff !important;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0062cc;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #187da0;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.5);
}


.btn-danger {
  color: #fff;
  background-color: #ef5350;
  border-color: #ef5350;
}

.btn-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 108, 107, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #ef5350;
  border-color: #ef5350;
}

.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #f5302e;
}

.btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 108, 107, 0.5);
}


.btn-success {
    color: #fff;
    background-color: #66bb6a;
    border-color: #66bb6a; }
    .btn-success:hover {
      color: #fff;
      background-color: #3ea662;
      border-color: #3a9d5d; }
    .btn-success:focus, .btn-success.focus {
      box-shadow: 0 0 0 0.2rem rgba(77, 189, 116, 0.5); }
    .btn-success.disabled, .btn-success:disabled {
      color: #fff;
      background-color: #66bb6a;
      border-color: #66bb6a; }
    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
      color: #fff;
      background-color: #3a9d5d;
      border-color: #379457; }
      .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
      .show > .btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(77, 189, 116, 0.5); }
  