.childroot-list{
    padding:0;
    padding-left: 10px;
}
.root-list{
    margin-left: 0px;
}
.text-center{
    text-align:center;
}
.overflowx{
    overflow:auto;
}  
.set-width{
    min-width:500px;
    max-width:2000px;
}