
#divHidden {
  overflow: hidden;
  height: 0;
}
#parent4 {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  z-index: 999;
}
.pdf {
  width: auto;
  height: auto;
  font-size: 14px;
  padding: 1.5625em;
  margin-left: 3.125em;
}
#showtable table, #showtable td, #showtable th {
  border: 1px solid black;
}
#showtable th {
  text-align: center;
}
table.showitems {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
.showitems td {
  width: auto;
}


#showtable th {
  height: 30px;
}
#showtable tr {
  height: 25px;
}
