.tablerow{
    display: table-row
}
.tablecell{
    display: table-cell
}
.table{
    display: table
}
.textindent-1{
    text-indent: 10px
}
.textindent-2{
    text-indent: 20px
}
.textindent-3{
    text-indent: 30px
}
.textindent-4{
    text-indent: 40px
}
.tableheader{
    background: red;
    color: yellow;
    text-align: center;
    font-weight: bolder;
}
.tbody{
    display:table-row-group !important;
}

.-filters .rt-tr .rt-th {
  background-color: #BDBDBD !important;
  color: aliceblue !important;
}
.-header .rt-tr .rt-th {
  background-color: #2f353a !important;
  color: aliceblue !important;
  height:  45px !important;
  vertical-align:bottom !important;
}


