.tablerow{
    display: table-row
}
.tablecell{
    display: table-cell
}
.table{
    display: table
}
.textindent-1{
    text-indent: 10px
}
.textindent-2{
    text-indent: 20px
}
.textindent-3{
    text-indent: 30px
}
.textindent-4{
    text-indent: 40px
}
.tableheader{
    background: red;
    color: yellow;
    text-align: center;
    font-weight: bolder;
}
.tbody{
    display:table-row-group !important;
}

.-filters .rt-tr .rt-th {
  background-color: #c8ced3 !important;
  color: aliceblue !important;
}
.-header .rt-tr .rt-th {
  background-color: #2f353a !important;
  color: aliceblue !important;
  height:  45px !important;
  vertical-align:bottom !important;
  font-weight: 500 !important;
}
.heading {
  font-weight: 500;
 
}
.rcorners {
  border-radius: 20px 80px 80px 20px;
  background: #bdbdbd;
  padding: 20px;
  width: 250px;
  height: 40px;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

.rmv .rt-td {
  background: rgb(248, 138, 138) !important;
}

.editrow .rt-td {
  background: rgb(255, 207, 61) !important;
}

.inqueue .rt-td {
  background: white !important;
}
.working .rt-td {
  /* background: rgba(255, 193, 7, 0.78) !important; */
  background: rgb(255, 207, 61) !important;
}
.success .rt-td {
  background: rgb(116, 203, 147) !important;
}
.error .rt-td {
  background: rgb(248, 138, 138) !important;
}
.cancel .rt-td {
  background: rgba(200, 206, 211, 0.78) !important;
}
.worked .rt-td {
  background: #63c2de !important;
}
.p_wrap {
  white-space: pre-wrap;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
} 
#Table1{
  border: 3px solid #20c997;
  position: relative;
}
#Table2{
  border: 3px solid #17a2b8;
  position: relative;
}
.styleTable {
  border-radius: 9px;
  background: white;
  padding: 4px;
  margin-bottom: 5px;
  width: 100%; 
} 
.styleTable p.rightAlign {
  width:2em;
  float: left;  
  text-align: center;
  font-size:1.25em;
  bottom: 0; 
  margin-top: 3.125em;
  margin-bottom: 4.75em;
  position: absolute;
  white-space:nowrap;
  font-weight: bold;
  filter: flipv fliph;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  transform: rotate(-90deg); 
}
#pbottom{
  height: 5em;
}

#full {
  height: inherit;  /* if more info comes on the page, it will stretch down*/
  width: 100%; 
  margin: 0;
  padding: 0;  /*this will cause the div to be in the center*/
}