<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="localPath" value="D://middleware/morakot/inbox/pallet/"/>
    <add key="ftpPath" value="ftp://191.20.80.120:8089/MRK"/>
    <add key="ftpUsername" value="administrator"/>
    <add key="ftpPassword" value="amwteam"/>
    <add key="sharedPath" value="Z://"/>
  </appSettings>
</configuration>